<html>
<head>
    <title>InspireLearn - Sign Up</title>
    <link rel="stylesheet" href="https://cdn.tailwindcss.com">
</head>
<body class="bg-white">
    <div class="container mx-auto p-8">
        <h1 class="text-4xl font-bold mb-4">Sign Up</h1>
        <form action="/users/signup" method="POST">
            <label>Name *</label>
            <input type="text" name="name" value="Jane Smith" class="block border border-gray-400 p-2 mb-4 w-full">
            <label>Email address *</label>
            <input type="email" name="email" value="email@website.com" class="block border border-gray-400 p-2 mb-4 w-full">
            <label>Phone number *</label>
            <input type="text" name="phone" value="555-555-5555" class="block border border-gray-400 p-2 mb-4 w-full">
            <label>Password *</label>
            <input type="password" name="password" class="block border border-gray-400 p-2 mb-4 w-full">
            <label>Confirm Password *</label>
            <input type="password" name="password2" class="block border border-gray-400 p-2 mb-4 w-full">
            <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded">Sign Up</button>
        </form>
    </div>
</body>
</html>
